:root {
  --main-bg-color: #ADDCF6;
  --hero-bg-color: #47B2EE;
  --sec-bg-color: #85CBF2;
  --third-bg-color: #6EB9E3;
  --neumor-border: 1px solid rgba(255, 255, 255, 0.2);
  --neumor-shadow: -6px -6px 16px rgba(255, 255, 255, 0.5), 6px 6px 16px rgba(0, 0, 0, 0.25);
  --neumor-shadow-inset: inset -6px -6px 16px rgba(255, 255, 255, 0.5), inset 6px 6px 16px rgba(0, 0, 0, 0.25);


  --big-text: 70px;
  --very-big-text: 96px;
  --medium-text: 45px;
  --medium-small-text: 24px;
  --small-text: 20px;
  --very-small-text: 18px;
  --default-text: 14px;
  --contact-text: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background-color: var(--main-bg-color);
  overflow-x: hidden;
  font-size: var(--default-text);
}

h2 {
  font-size: var(--big-text);
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.hello {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: var(--hero-bg-color);
  z-index: -2;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.hello .container {
  height: 80%;
}

.hello .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hello-text {
  display: inline-block;
  padding: 20px;
  margin-left: 20px;
  border-radius: 30px;
  border: 1px solid transparent;
  background-color: var(--hero-bg-color);
  box-shadow: none;
  animation: helloTextAnimation 0.5s ease-in-out forwards 0.5s;
}

@keyframes helloTextAnimation {
  0% {
    background-color: var(--hero-bg-color);
    box-shadow: none;
  } 100% {
    background-color: var(--hero-bg-color);
    box-shadow: var(--neumor-shadow);
    border: var(--neumor-border);
  }
}
.hello-text h1 {
  font-size: var(--very-big-text);
  font-weight: 600;
}

.hello-text p {
  font-size: var(--big-text);
}

.hello img {
  width: 50%;
}

.hello-blue-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background-color: var(--sec-bg-color);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
  z-index: -1;
  animation: blueBlockAnimation 0.5s ease-in-out 0.2s;
}



.about {
  position: relative;
  width: 100%;
}

.about .container {
  height: 100%;
}

.about-blue-block {
  position: absolute;
  top: 0;
  right: 0;
  padding: 50px;
  width: 45%;
  min-height: 45%;
  box-shadow: 0 6px 16px -8px rgba(0, 0, 0, 0.25);
  background-color: var(--sec-bg-color);
  z-index: -1;
  border-radius: 0 0 0 100px;
  transition: 0.5s ease-in-out;
  animation: blueBlockAnimation 0.5s ease-in-out 0.2s;
}

@keyframes blueBlockAnimation {
  from {
    transform: translateX(70%);
  } to {
    transform: translateX(0);
  }
}

.about-blue-block.animate .info-block {
  background-color: var(--third-bg-color);
  box-shadow: var(--neumor-shadow-inset);
}

.about-blue-block.animate .info-block p {
  color: #ffffff;
}

.about-text {
  text-align: center;
  max-width: 580px;
}

.info-block {
  text-align: left;
  width: 100%;
  padding: 30px;
  border-radius: 30px;
  background-color: var(--sec-bg-color);
  transition: 0.7s ease-in-out;
}

.info-block p {
  color: transparent;
  transition: 0.7s ease-in-out;
  transition-delay: 0.7s;
}

.about-3d-img {
  margin-left: 7%;
  width: 55%;
}



.education {
  position: relative;
  width: 100%;
}

.education .container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
}

.education-blue-block {
  position: absolute;
  top: 25%;
  left: 0;
  width: 45%;
  padding: 50px;
  border-radius: 0 30px 30px 0;
  background-color: var(--sec-bg-color);
  border: var(--neumor-border);
  box-shadow: var(--neumor-shadow);
  z-index: -1;
  transform: translateX(-70%);
  transition: 0.5s ease-in-out;
}

.education-blue-block.animate {
  transform: translateX(0);
}

.education-text {
  float: right;
  max-width: 580px;
  margin-right: auto;
}

.education-blue-block.animate .education-block {
  background-color: var(--third-bg-color);
  box-shadow: var(--neumor-shadow-inset);
}

.education-block {
  width: 100%;
  padding: 30px;
  border-radius: 30px;
  background-color: var(--sec-bg-color);
  transition: 0.7s ease-in-out;
  transition-delay: 0.5s;
}

.education-block li {
  line-height: 1.75em;
  color: transparent;
  transition: 0.7s ease-in-out;
  transition-delay: 1.2s;
}

.education-blue-block.animate li {
  color: #ffffff;
}

.education-block > ul {
  margin-left: 20px;
}

.education-block ul li ul {
  margin-left: 20px;
}

.education img {
  width: 70%;
}



.code {
  width: 100%;
  padding: 50px;
  background-color: var(--sec-bg-color);
}

.code .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}

.console {
  display: inline-block;
}

.console h2 {
  text-align: center;
}

.code-sample {
  display: inline-block;
  padding: 50px;
  border-radius: 30px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: var(--very-small-text);
  line-height: 1.5em;
  transition: 0.5s ease-in-out;
}

.code-sample pre {
  opacity: 0;
  transition: 0.5s ease-in-out;
  transition-delay: 0.5s;
}

.code-sample.animate {
  box-shadow: var(--neumor-shadow-inset);
  background-color: var(--third-bg-color);
}

.code-sample.animate pre {
  opacity: 1;
}

.code img {
  position: absolute;
  right: 0;
  width: 65%;
}



.skills {
  width: 100%;
  padding: 50px;
  margin-top: 100px;
}

.skills h2 {
  text-align: center;
}

.skills ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}

.skills li {
  position: relative;
  list-style: none;
  display: inline-block;
  padding: 15px;
  background-color: var(--sec-bg-color);
  border: var(--neumor-border);
  box-shadow: var(--neumor-shadow);
  border-radius: 10px;
}

.skill-circle {
  position: relative;
  border-radius: 50%;
  filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.25)) drop-shadow(-6px -6px 6px rgba(255, 255, 255, 0.5));
}

.percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--medium-text);
}

.percent span {
  font-size: var(--small-text);
}

.skills li h3 {
  margin-top: 15px;
  text-align: center;
  font-size: var(--medium-small-text);
  padding: 5px 10px;
  border-radius: 10px;
  transition: 1s ease-in-out;
}

.skills li.animate h3 {
  background-color: var(--third-bg-color);
  box-shadow: var(--neumor-shadow-inset);
}

.skills svg {
  width: 140px;
  height: 140px;
}

.skills svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 20;
  stroke-linecap: round;
  stroke-dasharray: 380;
  stroke-dashoffset: 380;
  transition: 1.5s ease-in-out;
}

.tech-skills {
  margin-bottom: 100px;
}

.tech-skills li:nth-child(1) circle {
  stroke: #FFF176;
}

.tech-skills li:nth-child(2) circle {
  stroke: #7986CB;
}

.tech-skills li:nth-child(3) circle {
  stroke: #AB47BC;
}

.tech-skills li:nth-child(4) circle {
  stroke: #FFA726;
}

.tech-skills li:nth-child(5) circle {
  stroke: #81D4FA;
}

.lang-skills li:nth-child(1) circle {
  stroke: #42A5F5;
}

.lang-skills li:nth-child(2) circle {
  stroke: #F44336;
}

.lang-skills li:nth-child(3) circle {
  stroke: #1E88E5;
}

.tech-skills li:nth-child(1).animate circle {
  stroke-dashoffset: calc(380 - (380 * 40) / 100);
}

.tech-skills li:nth-child(2).animate circle {
  stroke-dashoffset: calc(380 - (380 * 60) / 100);
}

.tech-skills li:nth-child(3).animate circle {
  stroke-dashoffset: calc(380 - (380 * 30) / 100);
}

.tech-skills li:nth-child(4).animate circle {
  stroke-dashoffset: calc(380 - (380 * 75) / 100);
}

.tech-skills li:nth-child(5).animate circle {
  stroke-dashoffset: calc(380 - (380 * 75) / 100);
}

.lang-skills li:nth-child(1).animate circle {
  stroke-dashoffset: calc(380 - (380 * 50) / 100);
}

.lang-skills li:nth-child(2).animate circle {
  stroke-dashoffset: calc(380 - (380 * 75) / 100);
}

.lang-skills li:nth-child(3).animate circle {
  stroke-dashoffset: calc(380 - (380 * 80) / 100);
}



.video-project {
  position: relative;
  margin: 100px 0;
  width: 100%;
}

.video-project .container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.video-project h2 {
  text-align: center;
}

.video-wrapper {
  display: inline-block;
  width: 100%;
  padding: 50px;
  border-radius: 30px;
  background-color: var(--sec-bg-color);
  border: var(--neumor-border);
  box-shadow: var(--neumor-shadow);
}

.iframe-wrapper {
  position: relative;
  margin-bottom: 100px;
  border-radius: 30px;
  border: var(--neumor-border);
  box-shadow: var(--neumor-shadow);
  overflow: hidden;
  padding-bottom: 56.25%;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-wrapper {
  position: relative;
  border-radius: 30px;
  box-shadow: var(--neumor-shadow);
  background-color: var(--third-bg-color);
  padding-bottom: 56.25%;
  overflow: hidden;
}

.controls {
  position: absolute;
  padding: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-btn,
.left-btn {
  transform: scale(2);
  z-index: 10;
  transition: 0.2s ease-in-out;
}

.right-btn:hover,
.left-btn:hover {
  transform: scale(2.4);
}

.slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--sec-bg-color);
  clip-path: circle(0% at 50% 100%);
  transition: 1s ease-in-out;
  z-index: 20;
  border-radius: 30px;
}

.slider-bg.show {
  clip-path: circle(95% at 50% 100%);
}

.project-louvre,
.project-slider,
.project-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  visibility: hidden;
  overflow: hidden;
}

.projects img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 30px;
  filter: blur(0);
  transition: 0.5s;
}

.active {
  visibility: visible;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 5;
  transition: 0.5s ease-in-out;
}

.project-info:hover {
  opacity: 1;
}

.play-btn {
  transform: scale(3);
  transition: 0.2s ease-in-out;
}

.play-btn:hover {
  transform: scale(3.4);
}

.project-info h3 {
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
}