* {
    box-sizing: border-box;
}

body {
    background-color: #e7e7e7;
}

.cv{
    position: relative;
    width: 850px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background-color: #ffffff;
}

.my-photo {
    width: 220px;
    height: 260px;
}

.block {
    width: 220px;
    height: 260px;
    padding: 20px 0 0 20px;
}

.photo-block {
    width: 220px;
    height: 260px;
    background-color: #c4c4c4;
}

.yellow-rectangle {
    width: 850px;
    height: 60px;
    background-color: #fde387;
}

.contact-block {
    background-color: #9f9f9f;
}

.skill-block {
    background-color: #858585;
}

.language-block {
    background-color: #6f6f6f;
}

.block-heading {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.icon {
    position: relative;
    top: 8px;
    width: 24px;
    height: 24px;
    margin: 5px 5px 0 0;
}

.star-icon {
    width: 10px;
    height: 10px;
}

.without-dot {
    margin-top: 1em;
    padding: 0;
    color: #ffffff;
    list-style-type: none;
}

.name {
    position: absolute;
    top: 34px;
    left: 254px;
    font-size: 30px;
    font-weight: bold;
}

.information-block {
    position: absolute;
    top: 320px;
    left: 220px;
    width: 630px;
    height: 780px;
    padding: 20px 20px 0 20px;
}

.text-heading {
    margin: 0 0 12px 0;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.education-block {
    margin-bottom: 40px;
}

.about-me-block {
    margin-bottom: 40px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 850px;
    height: 60px;
    margin: 0 auto;
    padding: 1em 0;
    background-color: #5F5F5F;
}

time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.my-github {
    width: 40px;
    height: 40px;
}

.rs-school {
    width: 60px;
    height: 60px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h4 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
}

ul {
    margin: 0;
    padding-left: 20px;
}

.info-section {
    position: relative;
    bottom: 12px;
}